.global {
    /*display : flex;*/
    /*flex-direction : column;*/
    /*align-items : center;*/
    /*height : 100vh;*/
    /*width : 100%;*/
    user-select : none;
    height : 100vh;
}

/*64 + 58 + 48 + 48 + 52vh + 4px du bas du canvas :*/

canvas {
    width : 100vw;
    height : 46vh;
    outline : none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color : white;
    cursor : pointer;
}

.content {
    height : calc(54vh - 218px);
    display : flex;
    flex-direction : column;
    justify-content : center;
}

a {
    text-decoration : none;
}

.titleDrawer {
    height : 10vh;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color : rgb(0, 188, 212);
    color : white;
    font-size : x-large;
    font-style: italic;
}

/*Thanks to this property, no margin-bottom after the canvas*/
.surroundingCanvas {
    height : 46vh;
    position : relative;
}

.rubber {
    position : absolute;
    bottom : 10px;
    left : 10px;
}

/* HOME */

.home_titre {
    background-color : #ccfc04;
    height : 23vh;
    width : 100vw;
    display : flex;
    justify-content : center;
    align-items : center;
    color : #56b604;
    font-size : xx-large;
    font-weight: bold;
    text-shadow: 1px 1px #FFF;
}

.home_menu {
    background-color : white;
    height : Calc(100vh - 23vh - 64px);
    width : 100vw;
    display : flex;
    flex-direction : column;
    align-items : center;
    /*justify-content : space-around;*/
}

.home_liens a {
    text-decoration : none;
    color: white;
    text-transform : capitalize;
    padding : 5vw 10vw ;
    background-color : rgb(0, 188, 212);
    border-radius: 15px;
}

.home_liens a:visited {
    color: #FFF;
}

.home_liens a:hover {
}

/* DESKTOP MESSAGE */

.welcome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}

.welcomeMessage {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper-text {
    text-align: justify;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 20px;
}

.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-size: 25px;
    margin-bottom: 20px;
}

.explanation {
    font-size: 20px;
}

.screenshotApp {
    align-self: center;
}

.gesture {
    position: absolute;
    bottom: 50%;
    left: 50%;
}